<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登録確認</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="systemName">
		<h2><span></span>登録確認</h2>
	</div>
    <p>以下の内容で登録しますか？</p>
    <div>
        <p>曲名：<span th:text="${music.song_name}"></span></p>
        <p>歌手：<span th:text="${music.singer}"></span></p>
    </div>
    <form th:action="@{/register}" method="post">
        <input type="hidden" name="song_name" th:value="${music.song_name}">
        <input type="hidden" name="singer" th:value="${music.singer}">
		<div class="btnContainer">
			<button type="submit">登録</button>
			<a href="javascript:history.back()">戻る</a>
		</div>
    </form>
</body>
</html>