<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ボカロ楽曲一覧</title>
    <link rel="stylesheet" type="text/css" href="../css/list.css">
</head>
<body>
    <div class="container">
		<div class="systemName">
			<h2><span></span>ボカロ楽曲一覧</h2>
		</div>
        <div class="table-wrapper">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>楽曲ID</th>
                        <th>曲名</th>
                        <th>歌手</th>
                    </tr>
                </thead>
                <tbody class="tableContainer">
                    <tr th:each="music : ${list}">
                        <td th:text="${music.song_id}"></td>
                        <td th:text="${music.song_name}"></td>
                        <td th:text="${music.singer}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="btnContainer">
		    <a href="/" class="btn">戻る</a>
		</div>
    </div>
</body>
</html>
